.login-page{
    margin-top: 50px;
}

.content{
    padding-top: 50px;
}
.name {
    background-color: #0087BA;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
}
.radio{
    background-color: #ffffff;
    list-style-position: inherit;

}
p{
    padding: 10px;
    font-weight: bold;
    font-size: 16px
}
input{
    margin: 5px;
}
button{


}
